.places {
    width: fit-content;
    margin: 92px auto 0;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .places {
        margin-top: 88px;
    }
  } 


@media screen and (max-width: 576px) {
    .places {
       margin-top: 64px;
    }
  } 
