.header__logo {
    max-width: 176px;
    max-height: 52px;
    margin: 28px 0 0;
  }

  @media screen and (max-width: 576px) {
    .header__logo {
      margin: 16px 0 0;
      max-width: 142px;
      max-height: 42px;
    }
  }