.header {
    margin: 0 48px 0;
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: 768px) {
    .header {
      margin: 0 24px 0;
    }
  }

  @media screen and (max-width: 576px) {
    .header {
      margin: 0 16px 0;
    }
  }