.place__paragraph {
    max-width: 484px;
    margin: 0 0 26px;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: #FFFFFF;
}

.place__paragraph:last-child {
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .place__paragraph {
        max-width: 456px;
    }
  } 


@media screen and (max-width: 782px) {
    .place__paragraph {
        max-width: 352px;
        font-size: 16px;
    }
  } 

  
@media screen and (max-width: 576px) {
    .place__paragraph {
        max-width: 288px;
    }
  } 
