.lead__subtitle {
    width: calc(288px + (640 - 288) * ((100vw - 320px) / (1280 - 320)));
    margin: calc(16px + (32 - 16) * ((100vw - 320px) / (1280 - 320))) auto calc(40px + (64 - 40) * ((100vw - 320px) / (1280 - 320)));
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: calc(16px + (30 - 16) * ((100vw - 320px) / (1280 - 320)));
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
}