.cover__title {
    width: calc(288px + (560 - 288) * ((100vw - 320px) / (1280 - 320)));
    margin: 0 0 32px 0;
    padding: 0;
    font-style: normal;
    font-weight: 900;
    font-size: calc(32px + (72 - 32) * ((100vw - 320px) / (1280 - 320)));
    line-height: 1.1;
    text-align: center;
    color: #FFFFFF;
}