.place {
    margin: 0 148px 80px;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 48px 40px;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        margin: 0 48px 80px;
        grid-template-columns: 440px 1fr;
        gap: 48px 32px;
    }
  } 

@media screen and (max-width: 782px) {
    .place {
        margin: 0 24px 73px;
        grid-template-columns: 340px 1fr;
        gap: 48px 28px;
    }

  } 


@media screen and (max-width: 630px) {
    .place {
        margin: 0 0 50px;
        grid-template-columns: 320px;
        gap: 32px 0;
    }
  } 
