.footer__links-list-item {
    margin: 0 18px 0 0;
    padding: 0;
}

.footer__links-list-item:last-child {
    margin: 0;
}

@media screen and (max-width: 576px) {
    .footer__links-list-item {
        margin: 0 0 32px;
    }
  }